<header class="fuma__header">
    <mat-icon (click)="sidebar_opened = !sidebar_opened">        
         {{sidebar_opened ? 'menu_open' : 'menu'}}
    </mat-icon>
    <div class="logo-src">
        <img src="assets/logo-inverse.png">
    </div>

    <div class="avtar">
        <img src="assets/avtar.png">
    </div>
    <span>Admin</span>
</header>

<aside id="sidebar" [ngClass]="{'active': sidebar_opened}">
    <ul>
        <li>asdasd 1</li>
        <li>asdasd 2</li>

        <li>asdasd 3 </li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>

        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>

        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>

        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
<!-- 
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>

        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li>
        <li>asdasd</li> -->

    </ul>

</aside>
<main id="main-content" [ngClass]="{'sidebar-active':sidebar_opened }">
    <div class="content">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sapiente animi repellendus omnis error veritatis provident facere, obcaecati labore architecto dolor nulla dolore corrupti! Asperiores culpa nulla explicabo laudantium unde!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sapiente animi repellendus omnis error veritatis provident facere, obcaecati labore architecto dolor nulla dolore corrupti! Asperiores culpa nulla explicabo laudantium unde!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sapiente animi repellendus omnis error veritatis provident facere, obcaecati labore architecto dolor nulla dolore corrupti! Asperiores culpa nulla explicabo laudantium unde!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sapiente animi repellendus omnis error veritatis provident facere, obcaecati labore architecto dolor nulla dolore corrupti! Asperiores culpa nulla explicabo laudantium unde!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sapiente animi repellendus omnis error veritatis provident facere, obcaecati labore architecto dolor nulla dolore corrupti! Asperiores culpa nulla explicabo laudantium unde!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sapiente animi repellendus omnis error veritatis provident facere, obcaecati labore architecto dolor nulla dolore corrupti! Asperiores culpa nulla explicabo laudantium unde!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sapiente animi repellendus omnis error veritatis provident facere, obcaecati labore architecto dolor nulla dolore corrupti! Asperiores culpa nulla explicabo laudantium unde!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sapiente animi repellendus omnis error veritatis provident facere, obcaecati labore architecto dolor nulla dolore corrupti! Asperiores culpa nulla explicabo laudantium unde!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sapiente animi repellendus omnis error veritatis provident facere, obcaecati labore architecto dolor nulla dolore corrupti! Asperiores culpa nulla explicabo laudantium unde!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sapiente animi repellendus omnis error veritatis provident facere, obcaecati labore architecto dolor nulla dolore corrupti! Asperiores culpa nulla explicabo laudantium unde!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sapiente animi repellendus omnis error veritatis provident facere, obcaecati labore architecto dolor nulla dolore corrupti! Asperiores culpa nulla explicabo laudantium unde!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sapiente animi repellendus omnis error veritatis provident facere, obcaecati labore architecto dolor nulla dolore corrupti! Asperiores culpa nulla explicabo laudantium unde!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sapiente animi repellendus omnis error veritatis provident facere, obcaecati labore architecto dolor nulla dolore corrupti! Asperiores culpa nulla explicabo laudantium unde!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sapiente animi repellendus omnis error veritatis provident facere, obcaecati labore architecto dolor nulla dolore corrupti! Asperiores culpa nulla explicabo laudantium unde!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sapiente animi repellendus omnis error veritatis provident facere, obcaecati labore architecto dolor nulla dolore corrupti! Asperiores culpa nulla explicabo laudantium unde!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sapiente animi repellendus omnis error veritatis provident facere, obcaecati labore architecto dolor nulla dolore corrupti! Asperiores culpa nulla explicabo laudantium unde!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sapiente animi repellendus omnis error veritatis provident facere, obcaecati labore architecto dolor nulla dolore corrupti! Asperiores culpa nulla explicabo laudantium unde!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sapiente animi repellendus omnis error veritatis provident facere, obcaecati labore architecto dolor nulla dolore corrupti! Asperiores culpa nulla explicabo laudantium unde!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sapiente animi repellendus omnis error veritatis provident facere, obcaecati labore architecto dolor nulla dolore corrupti! Asperiores culpa nulla explicabo laudantium unde!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sapiente animi repellendus omnis error veritatis provident facere, obcaecati labore architecto dolor nulla dolore corrupti! Asperiores culpa nulla explicabo laudantium unde!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sapiente animi repellendus omnis error veritatis provident facere, obcaecati labore architecto dolor nulla dolore corrupti! Asperiores culpa nulla explicabo laudantium unde!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sapiente animi repellendus omnis error veritatis provident facere, obcaecati labore architecto dolor nulla dolore corrupti! Asperiores culpa nulla explicabo laudantium unde!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sapiente animi repellendus omnis error veritatis provident facere, obcaecati labore architecto dolor nulla dolore corrupti! Asperiores culpa nulla explicabo laudantium unde!</p>
    
</div>
    <!-- <footer class="footer">
        <p>Copyright &copy; 2021 Futuresoft Technologles Ltd. All Rights Reserved. Supporting Partner: Manorama Web Solutions Private Limited</p>       
    </footer> -->
</main>