.tab-content-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.tab-content-header {
  font-weight: 600;
  padding: 0.5rem 1rem;
  color: #343a40;
}
.tab-content-datepicker {
  padding-left: 0 !important;
}

h4, h3 {
  color: #343a40;
  font-family: 'Poppins';
  /* font-weight: bold; */
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
  text-decoration: underline;
}


.mt9px {
  margin-top: 9px;
}

.crew-card {
  margin-top: 0.5rem;
}

.crew-buttons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.crew-buttons button:first-child {
  margin-right: 0.5rem;
}

.page-buttons {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}
.page-buttons button:nth-child(2) {
    margin-left: 0.5rem;
}
.bottom-row {
  padding-bottom: 4rem;
}

.mat-card-subtitle {
  margin: 0;
}

.flight-log-button {
  position: absolute;
  top: 10px;
  right: 16px;
  text-decoration: none;
}
.crewLeg-lookup-button {
  outline: none;
}

/* .page-wrapper {
    height: 1500px;
}

.mat-tab-body-content{
    overflow: hidden !important;
} */

thead.log-table {
  background: #5f757d;
  color: #93dffd;
}

tr.row-selected {
  background: #ccc;
}



div.table-responsive {
  margin-top: 0.5rem;
}





:host ::ng-deep .p-multiselect {
  min-width: 15rem;
  width: 18rem;
}
:host ::ng-deep .multiselect-custom .p-multiselect-label {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
:host ::ng-deep .multiselect-custom .country-item-value {
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  display: inline-flex;
  margin-right: 0.5rem;
  background-color: var(--primary-color);
  color: var(--primary-color-text);
}
:host ::ng-deep .multiselect-custom .country-item-value img.flag {
  width: 17px;
}
:host ::ng-deep .multiselect-custom .country-placeholder {
  padding: 0.25rem;
}

.total-details{
  margin-top: 1rem;
} 
@media screen and (max-width: 640px) {
  :host ::ng-deep .p-multiselect {
    width: 100%;
 }
}



.crewLegInput {
  padding-left: 0 !important;
}