<div class="dashboard">
    <div class="dashboard-header">
        <div class="left">
            <span class="material-icons flight-icon">flight</span>
            <div class="dashboard-heading">
                <div class="heading">
                    Fumas 360 Dashboard
                </div>
                <div class="sub-heading">
                    Dashboard 360
                </div>
            </div>
        </div>
    </div>


        <div class="row">
          <div class="col-md-6 col-sm-12 content">
            <p>Aviation Management Software is one of the best airline maintenance software which is focused on the
                continual improvement of airline efficiency, safety and compliance.</p>
            <div>
                <h2>What Is FUMAS360 ?</h2>
                <p>Fumas360 is a fully integrated maintenance, planning, inventory and multi-currency accounting
                    software system in the aviation industry that incorporates:</p>
            </div>

            <div>
                <h2>FUMAS360 Features</h2>
                <p><a href="https://www.futuresoft.co.ke/features-of-aviation-management-software/">Features Of Aviation Management Software</a> include flight and duty records, safety etc. The main
                    features are mentioned in below</p>
                <ul>
                    <li><strong>Charter Quotes –</strong> quick, all-inclusive trip quotation (aircraft costs, catering and crew expenses) for a specified itinerary for all the aircraft types in the system. Automatically imports and exports quote requests. Accommodates all the aircraft costs such as landing, handling and parking fees. Lists quotes for all aircraft, sorted by cost, showing margin for each.</li>
                    <li><strong>Flight Logs –</strong> tracks flight log entries, expenses, aircraft and crew records. Enables complete tracking of crew flight and duty times. Flight log posting updates aircraft and crew log books. Meets requirements for electronic recordkeeping.</li>
                    <li><strong>Crew scheduling – </strong>shows a list of only those qualified in the selected position for the specified type of aircraft. shows crew flights and duty times, days worked over a specified period.</li>
                    <li>Find Top <a href="https://www.futuresoft.co.ke/benefits-of-aviation-management-software/">Benefits of Aviation Management Software</a> for your business which includes customized Programming, Online Customer Support, User-Friendliness, Cloud Storage, Real-Time Data and Auto Tracking and Schedules etc.</li>
                    <li>So compare the best Aviation Maintenance Software of 2019 for your business! Find the Integrated Aviation Management System for your Aircraft Management from <a href="https://www.futuresoft.co.ke/"> Futuresoft Technologies LTD!</a></li>
                </ul> 
            </div>
          </div>
          <div class="col-md-6 col-sm-12 image-contianer d-flex">
            <img alt="Aviation Management System"
                src="https://www.futuresoft.co.ke/wp-content/uploads/2018/12/aviation2.jpg">
          </div>
        </div>

<!-- 
    <div class="dashboard-body">
        <div class="content">
            <p>Aviation Management Software is one of the best airline maintenance software which is focused on the
                continual improvement of airline efficiency, safety and compliance.</p>
            <div>
                <h2>What Is FUMAS360 ?</h2>
                <p>Fumas360 is a fully integrated maintenance, planning, inventory and multi-currency accounting
                    software system in the aviation industry that incorporates:</p>
            </div>

            <div>
                <h2>FUMAS360 Features</h2>
                <p><a href="https://www.futuresoft.co.ke/features-of-aviation-management-software/">Features Of Aviation Management Software</a> include flight and duty records, safety etc. The main
                    features are mentioned in below</p>
                <ul>
                    <li><strong>Charter Quotes –</strong> quick, all-inclusive trip quotation (aircraft costs, catering and crew expenses) for a specified itinerary for all the aircraft types in the system. Automatically imports and exports quote requests. Accommodates all the aircraft costs such as landing, handling and parking fees. Lists quotes for all aircraft, sorted by cost, showing margin for each.</li>
                    <li><strong>Flight Logs –</strong> tracks flight log entries, expenses, aircraft and crew records. Enables complete tracking of crew flight and duty times. Flight log posting updates aircraft and crew log books. Meets requirements for electronic recordkeeping.</li>
                    <li><strong>Crew scheduling – </strong>shows a list of only those qualified in the selected position for the specified type of aircraft. shows crew flights and duty times, days worked over a specified period.</li>
                    <li>Find Top <a href="https://www.futuresoft.co.ke/benefits-of-aviation-management-software/">Benefits of Aviation Management Software</a> for your business which includes customized Programming, Online Customer Support, User-Friendliness, Cloud Storage, Real-Time Data and Auto Tracking and Schedules etc.</li>
                    <li>So compare the best Aviation Maintenance Software of 2019 for your business! Find the Integrated Aviation Management System for your Aircraft Management from <a href="https://www.futuresoft.co.ke/"> Futuresoft Technologies LTD!</a></li>
                </ul> 
            </div>
        </div>
        <div class="image-container">
            <img alt="Aviation Management System"
                src="https://www.futuresoft.co.ke/wp-content/uploads/2018/12/aviation2.jpg">
        </div>
    </div> -->
</div>