<div class="page-wrapper">
    <h2 class="page-heading">Add/Update Airport</h2>
    <a class="flight-log-button" routerLink='/dashboard/airport' mat-raised-button color="primary">Show Airport
        Lists</a>
    <!-- <form [formGroup]="airportformGroup"> -->


    <div class="row">
        <mat-form-field class="col-md-3 col-sm-3">
            <input matInput placeholder="Name" type="text">
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-3">
            <input matInput placeholder="Identifier" type="text">
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-3">
            <input matInput placeholder="IATA" type="text">
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-3">
            <input matInput placeholder="NONAME" type="text">
        </mat-form-field>

    </div>
    <div class="row">
        <mat-form-field class="col-md-4 col-sm-4">
            <mat-checkbox id="customs" color="primary">Customs</mat-checkbox>
        </mat-form-field>
        <mat-form-field class="col-md-4 col-sm-4">
            <mat-checkbox id="nosie" color="primary">Noise Restriction</mat-checkbox>
        </mat-form-field>
        <mat-form-field class="col-md-4 col-sm-4">
            <mat-checkbox id="lighted" color="primary">Lighted</mat-checkbox>
        </mat-form-field>


    </div>
    <div class="row">
        <mat-form-field class="col-md-3 col-sm-3">
            <input matInput placeholder="State" type="text">
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-3">
            <input matInput placeholder="Country" type="text">
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-3">
            <input matInput placeholder="Latitude" type="text">
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-3">
            <input matInput placeholder="Longitude" type="text">
        </mat-form-field>

    </div>
    <div class="row">
        <mat-form-field class="col-md-3 col-sm-3">
            <input matInput placeholder="Elevation" type="number">
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-3">
            <input matInput placeholder="Surface" type="text">
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-3">
            <input matInput placeholder="Runway Width" type="text">
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-3">
            <input matInput placeholder="TimeZone(+/-UTC)" type="text">
        </mat-form-field>

    </div>

    <div class="row">
        <mat-form-field class="col-md-4 col-sm-4">
            <input matInput placeholder="Runway Length" type="number">
        </mat-form-field>
        <mat-form-field class="col-md-4 col-sm-4">
            <mat-checkbox id="avgas" color="primary">AV Gas</mat-checkbox>
        </mat-form-field>
        <mat-form-field class="col-md-4 col-sm-4">
            <mat-checkbox id="jetfuel" color="primary">Jet Fuel</mat-checkbox>
        </mat-form-field>


    </div>


    <div class="row">
        <mat-form-field class="col-md-12 col-sm-12">
            <!-- <mat-radio-group>
                        <mat-radio-button value="1">Public</mat-radio-button>
                        <mat-radio-button value="2">Military</mat-radio-button>
                        <mat-radio-button value="3">Joint</mat-radio-button>
                        <mat-radio-button value="4">Private</mat-radio-button>
                    </mat-radio-group> -->
        </mat-form-field>

    </div>


    <div class="row bottom-row">
        <mat-form-field class="col-md-6 col-sm-12">
            <textarea matInput placeholder="Remarks"></textarea>
        </mat-form-field>

        <div class="col-md-6 col-sm-12 page-buttons">
            <button mat-raised-button type="button" color="primary">Save</button>
            <button mat-raised-button type="button" color="primary">Approve</button>
        </div>
    </div>

    <!-- </form> -->
</div>