.table-fixed-height {
    display: block;
    max-height: 500px !important;
}
.card-table {
    margin-top: 1rem;
    padding: 12px;
    /* border: 1px solid #ccc; */
    box-shadow: 4px 4px 4px #e5e9ea;
    /* border-radius: 5px; */
    overflow-y: auto !important;
    height: 420px; /*Remove if needed*/
    border: 1px solid #ccc;
}

.card-table thead {
    background: #5f757d;
    color: #93dffd;
}


a {
    text-decoration: none;
}

thead {
    position: sticky;
    top: -14px;
    /* transition: all 1s; */
}

.mat-paginator {
    background: none;
}

.page-action{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.page-heading {
    position: absolute;
}


input[type="file"] {
    display: none;
}