<div class="page-wrapper">
    <h2 class="page-heading">Airport List</h2>

    <div class="row">
        <mat-form-field class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <input matInput placeholder="Search" type="search" autocomplete="off">         
        </mat-form-field>  

        <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-xs-12 px-0 page-action">
            <a color="primary" mat-raised-button routerLink="/dashboard/airport/add">Create New Airport</a>       
            <button color="primary" mat-raised-button class="ml-3">
                Upload Airport Map
                <!-- <input type="file"> -->
            </button>            
            <a color="primary" mat-raised-button class="ml-3" (click)="showPdf()">View Airport Map</a>            
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <mat-paginator #paginator
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25]"
            aria-label="Select page">
            </mat-paginator>
        </div>
    </div>







    <div class="card-table table-fixed-height">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Airport Name</th>
                    <th scope="col">Identifier</th>
                    <th scope="col">Length(Runway)</th>
                    <th scope="col">Coordinates</th>
                    <th scope="col">Country</th>
                    <th scope="col">Elevation</th>
                    <th scope="col">ID</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody class="">
                <tr>
                    <th scope="row">KINSHASA</th>
                    <td>FZZA</td>
                    <td>200</td>
                    <td>4.38 S 15.44 E</td>
                    <td>KINSHASA</td>
                    <td>0</td>
                    <td>32</td>
                    <td>Yellow</td>
                    <td>                       
                        <a  title="Edit airport">
                            <span class="material-icons">edit_note</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>