<div class="page-wrapper">


    <h2 class="page-heading">Flight Log List</h2>
    <div class="row">
       

        <mat-form-field class="col-md-4 col-sm-4 filter-by">
            <mat-label>Filter by Level</mat-label>
            <mat-select [formControl]="filterBy">
                <mat-option value="-1" selected>All</mat-option>
                <mat-option value="1">Approved</mat-option>
                <mat-option value="0">Draft</mat-option>
            </mat-select>
        </mat-form-field>   

        <mat-form-field class="col-md-4 col-sm-4 dateRpicker">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input disabled [formGroup]="dateRange" [rangePicker]="rangePicker">
                <input matStartDate placeholder="Start date" formControlName="startDate">
                <input matEndDate placeholder="End date" formControlName="endDate">
            </mat-date-range-input>
            <!-- <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
            <mat-date-range-picker disabled="false" #rangePicker>
                <mat-date-range-picker-actions>
                  <button mat-button matDateRangePickerCancel>Cancel</button>
                  <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
                </mat-date-range-picker-actions>
              </mat-date-range-picker> -->
            <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
            <mat-date-range-picker disabled="false" #rangePicker></mat-date-range-picker>
        </mat-form-field>

        <mat-form-field class="col-md-4 col-sm-4">
            <!-- <mat-label>Flight Name</mat-label> -->
            <input matInput placeholder="Search" type="search" [formControl]="searchbar" autocomplete="off">
            <!-- <button class="clear-search-button">
                <span class="material-icons">search</span>
            </button> -->
        </mat-form-field>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12 create-new-container">
            <a color="primary" mat-raised-button routerLink="/dashboard/flight-list">Create New Log</a>
            <button class="ml-2" mat-raised-button color="accent" (click)="clearFilters()">Clear All Filters</button>
        </div>
        <div class="col-md-6 col-sm-12">
            <mat-paginator [length]="(routerData$ | async)?.length" #paginator
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25]"
            aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
  

    <div class="card-table table-fixed-height">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Flight Reg</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Level</th>
                    <th scope="col">FLT Time</th>
                    <th scope="col">BLK Time</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody *ngIf="data$ | async as d" class="">
                <tr *ngFor="let k of d">
                    <th scope="row">{{k.orderno}}</th>
                    <td>{{k.flightreg}}</td>
                    <td>{{k.name}}</td>
                    <td>{{k.tdate | date:'EEEE, MMMM d, y'}}</td>
                    <td>{{k.posted === 0 ? 'Draft' : 'Approved'}}</td>
                    <td>{{k.fltTime}}</td>
                    <td>{{k.blkTime}}</td>
                    <td>
                        <!-- *ngIf="k.posted === 0"  -->
                        <a routerLink="/dashboard/flight-list" [queryParams]="{ordno: k.orderno}" title="Edit log">
                            <span class="material-icons">edit_note</span>
                        </a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>



    

</div>