<div class="page-wrapper">
    <h2 class="page-heading">Add/Update Airport</h2>
    <a class="airport-list-button" routerLink='/dashboard/airport' mat-raised-button color="primary">Show Airport
        Lists</a>
    <!-- <button class="ml-3" mat-raised-button type="button" color="primary">View Map</button> -->

    <form [formGroup]="airportFormGroup" class="mt-3">

        <div class="row">
            <mat-form-field class="col-md-3 col-sm-3">
                <input matInput placeholder="Name" type="text" formControlName="aname">
            </mat-form-field>
            <mat-form-field class="col-md-3 col-sm-3">
                <input matInput placeholder="Identifier" type="text" formControlName="idntfr">
            </mat-form-field>
            <mat-form-field class="col-md-3 col-sm-3">
                <input matInput placeholder="IATA" type="text" formControlName="iata">
            </mat-form-field>
            <mat-form-field class="col-md-3 col-sm-3">
                <input matInput placeholder="NONAME" type="text" readonly [value]="noname">
            </mat-form-field>
        </div>

        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 space-between">
                <mat-checkbox matInput id="customs" color="primary">Customs</mat-checkbox>
                <mat-checkbox matInput id="nosie" color="primary">Noise Restriction</mat-checkbox>
                <mat-checkbox matInput id="lighted" color="primary">Lighted</mat-checkbox>
            </div>
        </div>


        <div class="row">
            
            <mat-form-field class="col-md-3 col-xl-3 col-sm-12 col-xs-12">
                <mat-label>Country</mat-label>
                <mat-select formControlName="acountry">
                    <mat-option *ngFor="let country of countries" [value]="country.acountry">{{country.acountry}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col-md-3 col-xl-3 col-sm-12 col-xs-12">
                <input matInput placeholder="State" type="text" formControlName="astate">
            </mat-form-field>

            <div class="col-md-6 col-xl-6 col-sm-12 col-xs-12 px-0">
                <mat-form-field class="col-md-3 col-sm-3">
                    <input matInput placeholder="Latitude" type="number" min="0" formControlName="aLat">
                </mat-form-field>
                <mat-form-field class="col-md-3 col-sm-3">
                    <!-- <mat-label>Filter by Level</mat-label> -->
                    <mat-select formControlName="aLatn">
                        <mat-option value="S">S</mat-option>
                        <mat-option value="N">N</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-3 col-sm-3">
                    <input matInput placeholder="Longitude" type="number" min="0" formControlName="aLong">
                </mat-form-field>
                <mat-form-field class="col-md-3 col-sm-3">
                    <!-- <mat-label>Filter by Level</mat-label> -->
                    <mat-select formControlName="aLonge">
                        <mat-option value="E">E</mat-option>
                        <mat-option value="W">W</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>



        <div class="row">
            <mat-form-field class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <input matInput placeholder="Elevation" type="number" min="0" formControlName="aElevtn" >
            </mat-form-field>
            <mat-form-field class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <input matInput placeholder="Runway Length" type="number" min="0" formControlName="arLength" >
            </mat-form-field>
            <mat-form-field class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <input matInput placeholder="Runway Width" type="number" min="0" formControlName="aRwidth" >
            </mat-form-field>
            <mat-form-field class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <input matInput placeholder="Surface" type="number" min="0" max="10" formControlName="surface" >
            </mat-form-field>
            <mat-form-field class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <input matInput placeholder="TimeZone (+/- UTC)" type="number" formControlName="aTimeZ" >
            </mat-form-field>
            <mat-form-field class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <mat-label>Airport Status</mat-label>
                <mat-select formControlName="status">
                    <mat-option value="red"><strong style="color: red">Red</strong></mat-option>
                    <mat-option value="yellow"><strong style="color: yellow">Yellow</strong></mat-option>
                    <mat-option value="green"><strong style="color: green">Green</strong></mat-option>
                </mat-select>
            </mat-form-field>
        </div>




        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <strong>Fuel</strong>

                <div class="col-12 mt-3">
                    <mat-checkbox id="avgas" color="primary" formControlName="cAvgas">AV Gas</mat-checkbox>
                    <mat-checkbox class="ml-3" id="jetfuel" color="primary" formControlName="cJetFuel">Jet Fuel</mat-checkbox>
                </div>
                <!-- <div class="col-6 col-6">
            </div> -->
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <strong>Type</strong>
                <div class="col-12 mt-3">
                    <mat-radio-group formControlName="rPublic" class="space-between">
                        <mat-radio-button value="1">Public</mat-radio-button>
                        <mat-radio-button value="2">Military</mat-radio-button>
                        <mat-radio-button value="3">Joint</mat-radio-button>
                        <mat-radio-button value="4">Private</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>

            <mat-form-field class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <textarea matInput placeholder="Remarks" formControlName="aRemarks"></textarea>
            </mat-form-field>
        </div>


    </form>












        <div class="row bottom-row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label class="file-upload">
                    Upload Airport Status
                    <input #fileInput type="file" (change)="onFileUpload($event)">
                </label>
                <span class="ml-2" *ngIf="file">{{file?.name}}</span>
                <span *ngIf="file" class="material-icons file-delete-button ml-2" title="Delete file" (click)="onFileDelete()">delete</span>   
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 page-buttons">                
                <button mat-raised-button type="submit" color="primary" [disabled]="airportFormGroup.invalid" (click)="onSave()">Save</button>
                <button mat-raised-button type="button" color="secondary" class="ml-3">Canel</button>
            </div>
        </div>

    
</div>