/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');
@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', sans-serif; padding: 0;}

.page-heading {
    color: #343a40 !important;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600 !important;
}

.page-wrapper {
    padding: 0.5rem 1rem;
    font-family: 'Poppins', sans-serif !important;
}

.dateRpicker.mat-form-field-disabled .mat-form-field-underline {
    background-color: rgba(0,0,0,.42) !important; 
}
.dateRpicker.mat-form-field-disabled .mat-form-field-underline {
    background-image: none !important;
}
.dateRpicker.mat-form-field-disabled input[type="text"]{
    color: #000;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #5f757d !important;
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
    background-color: #e0f3ff;
    color: #343a40;
}


.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar {
    background-color: rgba(95,117,125,0.57);
}

.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
    background-color: #5f757d;
}


.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #5f757d;
}

.mat-toolbar{
    z-index: 99 !important;
}


/* Added to remove up arrow and down arrow for input[type=number]  */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* ===============================================================  */